---
- name: Check if Intel virtualization is supported
  shell: |
    set -e
    grep vmx {{ nested_virtualization_cpuinfo }}
  ignore_errors: yes
  register: intel_proccesor

- name: Check if AMD virtualization is supported
  shell: |
    set -e
    grep svm {{ nested_virtualization_cpuinfo }}
  ignore_errors: yes
  register: amd_proccesor

- name: Fail in case no Intel or AMD virtualization support is not detected.
  fail:
    msg: "The system doesn't seem to have Intel nor AMD virtualization support."
  when: intel_proccesor.rc != 0 and amd_proccesor.rc != 0

- name: Set fact for Intel virtualization
  set_fact:
    nested_virtualization_module_name: "kvm_intel"
  when: intel_proccesor.rc == 0

- name: Set fact for AMD virtualization
  set_fact:
    nested_virtualization_module_name: "kvm_amd"
  when: amd_proccesor.rc == 0

- name: Set fact for nested virtualization test path
  set_fact:
    nested_virtualization_test_path: "/sys/module/{{ nested_virtualization_module_name }}/parameters/nested"

- name: "Ensure {{ nested_virtualization_module_name }} module is available and loaded"
  modprobe:
    name: "{{ nested_virtualization_module_name }}"
    state: present

- name: Test status of nested virtualization
  shell: |
    set -e
    cat {{ nested_virtualization_test_path }}
  register: actual_status

- name: "Persist configuration in {{ nested_virtualization_kvm_config }}"
  lineinfile:
    path: "{{ nested_virtualization_kvm_config }}"
    regexp: "^options {{ nested_virtualization_module_name }}.*$"
    line: "options {{ nested_virtualization_module_name }} nested=1"
    create: yes
  when:
    - nested_virtualization_state == "enabled"

- name: "Persist configuration in {{ nested_virtualization_kvm_config }}"
  lineinfile:
    path: "{{ nested_virtualization_kvm_config }}"
    regexp: "^options {{ nested_virtualization_module_name }}.*$"
    state: absent
    create: yes
  when:
    - nested_virtualization_state == "disabled"

# Desired state is enabled but real state is off
- name: "Reload {{ nested_virtualization_module_name }} module"
  include_tasks: reload-module.yml
  when:
    - nested_virtualization_state == "enabled"
    - "'N' in actual_status.stdout or '0' in actual_status.stdout"

# Desired state is disabled but real state is on
- name: "Reload {{ nested_virtualization_module_name }} module"
  include_tasks: reload-module.yml
  when:
    - nested_virtualization_state == "disabled"
    - "'Y' in actual_status.stdout or '1' in actual_status.stdout"
